http_interactions:
- request:
    method: GET
    uri: https://zenodo.org/api/records?communities=ipbes&size=25&page=1
  response:
    status: 200
    headers:
      content-type: application/json
      retry-after: '58'
      x-ratelimit-limit: '30'
      x-ratelimit-remaining: '28'
      x-ratelimit-reset: '1767884749'
    body:
      string: '{"hits": {"hits": [{"created": "2026-01-07T11:22:38.146206+00:00",
        "modified": "2026-01-07T11:22:38.402673+00:00", "id": 13850346, "conceptrecid":
        "13850345", "doi": "10.5281/zenodo.13850346", "conceptdoi": "10.5281/zenodo.13850345",
        "doi_url": "https://doi.org/10.5281/zenodo.13850346", "metadata": {"title":
        "IPBES Nexus Assessment: Chapter 5.6 \u2013 Options for delivering sustainable
        approaches \u2013 Synthesis", "doi": "10.5281/zenodo.13850346", "publication_date":
        "2026-01-06", "description": "<p><span>Chapter 5.6: Options for delivering
        sustainable approaches - Synthesis of the <span lang=\"EN-GB\">Thematic Assessment
        Report on the Interlinkages among Biodiversity, Water, Food and Health of
        the Intergovernmental Science-Policy Platform on Biodiversity and Ecosystem
        Services. </span></span></p>", "access_right": "restricted", "creators": [{"name":
        "Ricketts, Taylor", "affiliation": "University of Vermont", "orcid": "0000-0001-9688-7977"},
        {"name": "Herrero, Mario", "affiliation": "Cornell University", "orcid": "0000-0002-7741-5090"},
        {"name": "Smith, Pete", "affiliation": "University of Aberdeen", "orcid":
        "0000-0002-3784-1124"}, {"name": "van Huysen, Tiff", "affiliation": "Intergovernmental
        Science-Policy Platform on Biodiversity and Ecosystem Services", "orcid":
        "0000-0002-3451-9770"}, {"name": "Alonso Rold\u00e1n, Virginia", "affiliation":
        "Universidad Te[...]
[...]
